

/* Custom CSS for additional styling */
.service-card {
    border: 1px solid #FF800F;
    /* Border color for the card */
    border-radius: 10px;
    /* Border radius for the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Box shadow for the card */
    margin-bottom: 10vh;
    /* Margin between cards */
    padding: 20px;
    color: #163555;
    /* Padding inside the card */
    text-align: center;
    /* Center align content inside the card */
}

.service-icon {
    width: 80px;
    /* Adjust icon width */
    height: 80px;
    /* Adjust icon height */
    border-radius: 50%;
    /* Make icon round */
    border: 2px solid #FF800F;
    /* Border color for the icon */
    margin: 0 auto 15px;
    transition: transform 0.6s ease;
    /* Margin between icon and paragraph */
}

.service-title {
    font-weight: bold;
    /* Bold text for service title */
    margin-bottom: 10px;
    color: #163555;
    /* Margin below title */
}



.slider-paragraph {
    text-align: center;
    /* Center-align the text */
    font-size: 30px;
    /* Adjust font size */
    margin-top: 20vh;
    /* Add margin from the top */
    margin-bottom: 10vh;
    color: #163555;
    /* Add margin from the bottom */
}

/* Add transitions for smooth effect */
.service-card {
    transition: all 0.3s ease;
}

/* Change styles on hover */
.service-card:hover {
    border-color: #007bff;
    /* Change border color */
    color: #007bff;
    /* Change text color */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Change icon border color on hover */
.service-card:hover .service-icon {
    border-color: #007bff;
    transform: rotate(30deg);
}

